
.idea/workspace.xml

.idea/vcs.xml

.idea/modules.xml

.idea/misc.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/Concorrentes.iml

__pycache__/multiplicadores.cpython-35.pyc

__pycache__/multiplicadores_reworked.cpython-35.pyc
